<!DOCTYPE html>
<html>
<head>
    <title>Madlib</title>
</head>
<body>
    <form action='/madlib'>
        Madlibs: Enter a person, color, noun, and adjective!<br>
        <label>Person</label>
        <input type="text" name="person"><br>

        <label>Color</label>
        <input type="text" name="color"><br>

        <label>Noun</label>
        <input type="text" name="noun"><br>

        <label>Adjective</label>
        <input type="text" name="adjective"><br>
        <input type="submit">
    </form>

</body>
</html>